.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #fff;
    padding: 20px;
    overflow-y: auto;
}

.sidebar-brand {
    font-weight: bold;
    margin-bottom: 20px;
}

.sidebar-menu a {
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}
